/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

main{
  height: calc(100% - 80px);
  display: flex;
}

aside{
  height: 100%;
}

/* Mix */
.text_center{
  text-align: center;
}

.color_w{
  color: #fff;
}

.color_grey{
  color: #919496;
}

/* typo */
.text_up{
  text-transform: uppercase;
}

/* Aside/header */
.aside_container{
  width: 250px;
  height: 100%;
  padding: 15px;
  background: #000;
}

.spotify_logo{
  margin-bottom: 20px;
}

.spotify_logo img{
  height: 40px;
}

.home li {
  list-style: none;
}

.home li a{
  text-decoration: none;
  font-size: 14px;
  color: #919496;
}

.home i{
  font-size: 24px;
  padding: 0 10px 10px 0;
}

#home_white{
  color: #fff;
}

.playlist_aside{
  margin-top: 20px;
  list-style: none;
}

.playlist_aside li{
  padding: 10px 0;
}

.playlist_aside i {
  font-size: 32px;
  margin-right: 5px;
  vertical-align: middle;
}

.playlist_aside a{
  text-decoration: none;
  color: #919496;
  font-size: 14px;
}

.playlist_aside h4{
  color: #fff;
}

.upgrade{
  position: fixed;
  top: 0;
  left: 250px;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Main */
.main_content{
  width: 100%;
  padding: 20px;
  padding-top: 80px;
  background: pink;
  overflow-y: scroll;
}

.nav_top ul{
  display: flex;
  justify-content: center;
}

.nav_top ul li{
  list-style: none;
  padding: 10px;
}
.nav_top ul a{
  text-decoration: none;
}

.box{
  display: inline-block;
}

/* footer */
.nav_bottom{
  width: 100%;
  height: 80px;
  position: fixed;
  background: lightgreen;
  z-index: 101;
}
