/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main{
  height: calc(100% - 80px);
  display: flex;
}

aside{
  height: 100%;
}

a{
  text-decoration: none;
}

hr{
  border: 1px solid #919496;
}

/* Mix */
.text_center{
  text-align: center;
}

.color_w{
  color: #fff;
}

.color_grey{
  color: #919496;
}

/* typo */
.text_up{
  text-transform: uppercase;
}

/* Aside/header */
.aside_container{
  width: 250px;
  height: 100%;
  padding: 15px 15px 15px 0;
  background: #000;
}

.spotify_logo{
  margin: 0 0 20px 15px;
  height: 60px;
}

.spotify_logo img{
  height: 40px;
}

.home{
  height: 120px;
}

.home li {
  list-style: none;
  padding-left: 15px;
}

.home li:first-child{
  border-left: 2px solid green;
}

.home li a{
  font-size: 14px;
  color: #919496;
}

.home i{
  font-size: 24px;
  padding: 0 10px 10px 0;
}

#home_white{
  color: #fff;
}

.playlist_aside{
  height: calc(100% - 300px);
  margin-top: 20px;
  padding-left: 15px;
  list-style: none;
  overflow-y: auto;
}

.playlist_aside li{
  padding: 10px 0;
}

.playlist_aside i {
  font-size: 32px;
  margin-right: 5px;
  vertical-align: middle;
}

.playlist_aside a{
  color: #919496;
  font-size: 14px;
}

.playlist_aside h4{
  color: #fff;
}

.aside_bottom_content{
  padding-left: 15px;
  height: 80px;
}

.aside_bottom_content i {
  padding: 10px 5px 10px 0;
  color: #fff;
}

.aside_bottom_content > a, hr {
  color: #919496;
}

/* sezione nav top (in evidenza,upgrade e button) */
.upgrade{
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 100;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.btn_up{
  border: 1px solid #fff;
  background: transparent;
  border-radius: 20px;
  padding: 10px 40px;
  color: #fff;
  text-transform: uppercase;
  transition: transform 1s;
}

.btn_up:hover{
  transform: scale(1.2);
}

.nav_top{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.nav_top ul{
  flex-wrap: wrap;
}

.nav_top ul{
  display: flex;
  justify-content: center;
}

.nav_top ul li{
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav_top ul a{
  color: #919496;
}

.evidence:after{
  content: '';
  display: block;
  height: 2px;
  background: lightgreen;
  width: 30px;
  margin: auto;
  visibility: hidden;
}

.evidence:hover:after{
  visibility: visible;
}

/* Main */
.main_content{
  width: 100%;
  padding: 20px;
  padding-top: 80px;
  background: #141922;
  overflow-y: scroll;
}

.title_section_music h2{
  margin: 30px 0 15px 0;
}
.title_section_music p{
  margin-bottom: 15px;
}

/* sezione contenuti icone musica */
.music_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.music_content small{
  color: #919496;
}

 .box {
  width: calc(100% / 6);
  padding-right: 15px;
}

.cover{
  position: relative;
  cursor: pointer;
}

.box img{
  width: 100%;
}

.circle img{
  border-radius: 50%;
}

/* sezione overlay img */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.overlay:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

.radius.overlay:hover{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.special_play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  font-size: 70px;
}

.cover:hover .special_play{
  display: block;
}

/* footer */
.nav_bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100px; */
  background: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav_bottom img{
  width: 50px;
}

.nav_bottom_left, .nav_bottom_right, .nav_bottom_center{
  display: flex;
  list-style: none;
}

.nav_bottom_left, .nav_bottom_right{
  flex-basis: 20%;
}

.nav_bottom_center{
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.nav_bottom_left ul, .nav_bottom_right ul, .nav_bottom_center ul{
  display: flex;
  list-style: none;
}

.nav_bottom_left ul li, .nav_bottom_right ul li, .nav_bottom_center ul li{
  margin-right: 10px;
}

.nav_bottom_left a, .nav_bottom_right a, .nav_bottom_center a{
  color: #fff;
}

.folder_heart{
  padding-top: 20px;
  display: flex;
  margin-left: 10px;
}

.nav_bottom_center i{
  font-size: 22px;
  padding: 14px;
}

.nav_bottom_center ul{
  justify-content: center;
}

.bar_time{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar{
  display: flex;
  height: 3px;
  background: grey;
  width: 400px;
}

.bar:before{
  content: '';
  height: 3px;
  background: #fff;
  width: 50px;
}

.time{
  padding: 0 20px;
  font-size: 12px;
}

.nav_bottom_right .bar{
  width: 200px;
  margin: auto;
}


/* RESPONSIVE */
@media screen and (max-width: 1024px){
  .box {
   width: calc((100% / 4) - 15px);
 }

 .nav_bottom_center{
   flex-basis: 100%;
   margin-bottom: 20px;
 }

  .nav_bottom{
    justify-content: space-around;
  }

  .bar{
    width: 250px;
  }

  .nav_bottom_right .bar{
    width: 100px;
  }

  .nav_bottom_center i{
    font-size: 18px;
    padding: 10px;
  }
}


@media screen and (max-width: 768px){
  .box {
   width: calc(100% / 2);
 }

 .bar{
   width: 150px;
 }

 .nav_bottom_right .bar{
   width: 60px;
 }

 .nav_bottom_center i{
   font-size: 14px;
   padding: 8px;
 }
 .nav_bottom_right i, .nav_bottom_left i{
   font-size: 12px;
 }

 .nav_bottom_left img{
   width: 40px;
 }

 .nav_bottom_left p {
   font-size: 12px;
 }

 .playlist_aside li{
   padding: 6px 0;
 }

 .aside_bottom_content{
   font-size: 12px;
 }
}


@media screen and (max-width: 540px){
  .box {
   width: calc(100% / 2);
 }

 .home, .playlist_aside, .aside_bottom_content{
   visibility: hidden;
 }

 .aside_container{
   width: 58px;
 }

 .spotify_logo{
   margin-left: 12px;
 }

 .home i{
   visibility: visible;
 }

 .upgrade{
   left: 58px;
 }

 .btn_up{
   border-radius: 20px;
   padding: 5px 10px;
   font-size: 12px;
 }

  .nav_bottom{
    flex-wrap: wrap;
  }

 .nav_bottom_left{
   order: -1;
   margin-bottom: 20px;
 }

 .bar{
   width: 200px;
 }

 .nav_bottom_center i{
   font-size: 18px;
 }

 .nav_bottom_right .bar{
   width: 120px;
 }

 .nav_bottom_left{
   display: none;
 }

 .nav_top li{
   font-size: 12px;
 }
}
